.border {border:1px solid red;}

img{
	width: 25vw;
	height: 25vw;
}

.flip-card {
  	background-color: transparent;
	width: 25vw;
	height: 25vw;
  	perspective: 1200px;
}

.flip-card-inner {
	position: relative;
	width: 25vw;
	height: 25vw;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 25vw;
	height: 25vw;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	width: 25vw;
	height: 25vw;
	background-color: #bbb;
	color: black;
}

.flip-card-back {
	display: flex;
	width: 25vw;
	height: 25vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	color: #111111;
	transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
	

h2{
	font-size: 20px !important;
}

img{
	width: 40rem;
	height: 40rem;
}

.flip-card {
	background-color: transparent;
  width: 45rem;
  height: 49rem;
	perspective: 1200px;
}

.flip-card-inner {
  position: relative;
  width: 25rem;
  height: 25rem;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.flip-card-back {
	font-size: .5em;
	width: 40rem;
	height: 40rem;
}

.flip-card-front {
	width: 40rem;
	height: 40rem;
}

.flip-card-inner {
	width: 40rem;
	height: 40rem;
}